<%= render 'partial/navbar' %>

<!-- ジャンボトロン -->
<div class="jumbotron-listings row-space-0" style="margin-top: -20px; background: none;">
    
<div class=""style="background:black;">
      <% if !@listing.blank?%>             
          <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6" style="margin-bottom:100px; margin-top:5%; background:black;">
           <%= link_to @listing.video_url.to_s, id: "video" do %>
            <%= image_tag @listing.image.to_s,:style=> "height:300px; width:100%; margin-left:auto; margin-right:auto; overflow:hidden;box-shadow: 0 10px 10px #666666; display:block;opacity: .6;" %>
            <i class="fa fa-caret-square-o-right" style="position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  color: white;/*アイコン色*/
  font-size: 150px;"></i>  
<% end %>
          </div>
        <% end %>
        </div>
      
</div>





<!-- サマリー -->
<div class="container-fluid container-listing-show" style="margin-top:20%;">
    <div class="container">
        <div class="listing-summary row-space-3 row-space-top-3">
            <div class="row">
                <div class="col-md-3 text-center row-space-2">
                    <%= link_to user_path(@listing.user) do %>
                    <% if !@listing.user.image.blank? %>
                        <%= image_tag @listing.user.image,class:"img-circle profile-2" %>
                    <% else %>
                        <%= image_tag ("avatar-default.png"),class:"img-circle profile-2" %>
                    <% end %>
                    
                    <% if current_user != @user %>
        <div class="row-space-2" style="margin-top:8%; margin-bottom:7%;">
          <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post',class: "btn btn-danger btn-full" %>
        </div>
      <% end %>
                    <% end %>
                    <h5><%= @listing.user.name %></h5>
                </div>
                
                <div class="col-md-6">
                    <div class="listing-title" style="font-size:24px; text-align:center; margin-top:40px; margin-bottom:40px;">
                        <%= @listing.listing_title %>
                    </div>
                    
                </div>

                
            </div>
        </div>
    </div>
</div>
         



<!-- メインコンテント -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="row-space-3" style="text-align:center; margin-top:80px;">詳細</h3>
                <p style="text-align:center;"><%= @listing.listing_content %>
                </p>
        </div>

        
    </div>  


    <!-- レビュー    -->
    <div class="row row-space-4">
      <div class="col-md-12">
        <h3 class="row-space-3" style="text-align:center; margin-top:80px;">レビュー<%= @reviews.count %>件</h3>
        <div id="average_star_rate" style="text-align:center;"></div>
          <%= render 'reviews/form' if @currentUserCharged && !@currentUserReview %>
          <%= render 'reviews/list' %>
      </div>

      <div class="col-md-3">
      
      </div>
    </div>


</div>

<script>
  $('#average_star_rate').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @listing.average_star_rate %>
  });
</script>



