<% if @arrlistings  %>
    <div class="row filter-section">
        <% @arrlistings.first(10).each do |listing| %>          
            <div class="col-xs-12 col-md-6">
                <%= link_to listing do %>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-listing text-center" style="padding: 0;">
                            <%= link_to(listing) do %>
                                <%= image_tag listing.image.to_s  if listing.image.length > 0 %>
                            <% end %>
                            
                            
                        </div>        
                            

                        <div class="panel-body">                
                                <div class="col-md-10 col-xs-10">
                                    <%= listing.listing_title %>
                                </div>
                                <% if !listing.user.image.blank? %>
                                <div class="col-md-2 col-xs-2">
                                    <%= image_tag listing.user.image,class:"img-circle profile-1" %>
                                </div>
                                <% else %>
                                <div class="col-md-2 col-xs-2">
                                    <%= image_tag ("avatar-default.png"),class:"img-circle profile-1" %>
                                </div>
                                <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>